* { margin: 0; padding: 0; outline: 0; }

html, body {
	min-width: 100%;
	min-height: 100%;
    margin: 0;
    padding: 0;
}

@font-face {font-family: "FedraSerifA-Book";src: url(/font/FedraSerifA-Book.otf);}

body {
	font-family: "FedraSerifA-Book";
	color: #007ba7;
	text-align: left;
	-webkit-font-smoothing: antialiased;
	font-weight: normal;
}

a, a:visited {
	transition: .2s;
	color: inherit;
	text-decoration: none;
}

a:hover {
	color: #007ba7;
    opacity: .7;
}

#container {
	position: relative;
	width: 100%;
	max-width: 1200px;
	margin: auto;
	padding: 110px 0;
}

#nav {
	margin-bottom: 145px;
	display: flex;
}

#desc {
	font-size: 1em;
	width: 50%;
	color: #647A82;
}

ul {
	margin: 0;
	padding: 0;
}

#links {
	float: right;
	width: 50%;
	text-align: right;
}

#links ul li {
	list-style-type: none;
	display: inline;
}

#links ul li a {
	margin-left:30px;
	font-size: .8em;
}

#question {
	padding-bottom: 15px;
}

#question, #credit {
	color: #647A82;
}

p {
	font-size: 1.4em;
	margin: 0 0 15px 0;
	font-weight: normal;
	line-height: 1.5em;
}

#column-left {
	float: left;
	width: 15%;
}

#column-right {
	float: right;
	width: 15%;
}

#column-center {
	display: inline-block;
	width: 70%;
}

#column-left ul li, #column-right ul li {
	list-style-type: none;
	padding: 0;
	left: 45%;
	position: relative;
	top: 215px;
	width: 15px;
}

#column-solo {
	max-width: 840px;
	margin: 0 auto;
}

li {
	color: #647A82;
}

#archive-items li {
	font-size: 1.4em;
	padding-right: 30px;
	white-space: nowrap;
	display: inline-block;
}

#pagination-prev a, #pagination-next a, #desc a {
	border-bottom: none;
}

#share {
	position: absolute;
	bottom: 0;
	color: #647a82;
}

#share a:hover {
	color: #647a82;
}

#bird {
	margin-bottom:-6px;
}

svg {
	fill: #647a82;
}

.twitter-share-button {
	font-size: .9em;
	color: #647a82;
}