* { margin: 0; padding: 0; outline: 0; }

html, body {
	min-width: 100%;
	min-height: 100%;
    margin: 0;
    padding: 0;
}

@font-face {font-family: "FedraSerifA-Book";src: url(/font/FedraSerifA-Book.otf);}
@font-face {font-family: "Montserrat-Regular";src: url(/font/Montserrat-Regular.ttf);}

div {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
	background-color: #fff;
	font-family: "FedraSerifA-Book";
	color: #40968D;
	text-align: left;
	-webkit-font-smoothing: antialiased;
	font-weight: normal;
}

a, a:visited {
	transition: .2s;
	color: inherit;
	text-decoration: none;
}

#container {
	position: relative;
	width: 100%;
	max-width: 1200px;
	margin: auto;
	padding: 110px 0;
	margin-bottom: 100px;
}

#nav {
	margin-bottom: 145px;
	display: flex;
}

#desc {
	width: 50%;
}

ul {
	margin: 0;
	padding: 0;
}

.links {
	font-family: "Montserrat-Regular";
	padding-top: 20px;
	float: right;
	width: 50%;
	text-align: right;
}

.links ul li {
	list-style-type: none;
	display: inline;
}

.links ul li a {
	color: #805da3;
	font-size: .8em;
	position: relative;
	display: inline-block;
	margin: 7.5px 0px 7.5px 30px;
}

 #archive-items a, #credit a{
	color: #805da3;
	position: relative;
	display: inline-block;
}

.body-copy a {
	color: #805da3;
	position: relative;
	display: inline-block;
}

.links a::after, #share a::after {
	position: absolute;
	margin-top: 2px;
	top: 100%;
	left: 0;
	width: 100%;
	height: 3px;
	background: rgba(0,0,0,0.1);
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	transform: translateY(10px);
}

#credit a::after, .body-copy a::after {
	position: absolute;
	margin-top: -4px;
	top: 100%;
	left: 0;
	width: 100%;
	height: 3px;
	background: rgba(0,0,0,0.1);
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	transform: translateY(10px);
}

#archive-items a::after {
	position: absolute;
	margin-top: -6px;
	top: 100%;
	left: 0;
	width: 100%;
	height: 3px;
	background: rgba(0,0,0,0.1);
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	transform: translateY(10px);
}


.links a:hover::after, .links a:focus::after, #share a:hover::after, #share a:focus::after, #credit a:hover::after, #credit a:focus::after, #archive-items a:hover::after, #archive-items a:focus::after, .body-copy a:hover::after, .body-copy a:focus::after {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}

#question, #credit {
	padding-bottom: 6px;
	line-height: 1.5em;
}

#question, #credit, #tap {
	color: #647A82;
}

#tap{
	padding: 0px 0 30px 0;
	font-size: .8em;
}

p {
	font-size: 1.4em;
	margin: 0 0 15px 0;
	font-weight: normal;
	line-height: 1.5em;
}

#column-left {
	float: left;
	width: 15%;
}

#column-right {
	float: right;
	width: 15%;
}

#column-center {
	display: inline-block;
	width: 70%;
}

#column-left ul li, #column-right ul li {
	list-style-type: none;
	padding: 0;
	left: 45%;
	position: relative;
	top: 215px;
	width: 15px;
}

#column-solo {
	max-width: 840px;
	margin: 0 auto;
}

li {
	color: #647A82;
}

.body-copy{
	color: #647A82;
	font-size: .8em;
}

#archive-items li {
	font-size: 1.1em;
	padding: 0 30px 6px 0;
	white-space: nowrap;
	display: inline-block;
}

#pagination-prev a, #pagination-next a, #desc a {
	border-bottom: none;
}

#share {
	font-family: "Montserrat-Regular";
	position: absolute;
	bottom: 0;
}

#share a {
	color: #805da3;
	font-size: .8em;
	position: relative;
	display: inline-block;
}

#bird {
	margin-bottom:-6px;
}

svg {
	fill: #805da3;
}

.maker {
	white-space: nowrap;
}
